
*,
::after,
::before {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
 .container  {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
 .container  {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* header */
.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.03em;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}


.header-accent {
    color:#2e2f42;
}


.header-list,
.header-address {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
 .burger-btn  {
    display: none;
    }

    .header-navigation {
    display: flex;
    align-items: center;
}

 .header-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

 .header-address {
    font-style: normal;
    display: block;
}


.social-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-link-item {
    display: block;
    color: #434455;
    text-decoration: none;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item {
    padding: 24px 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item.current {
    position: relative;
}

.header-link-item.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
}

.header-link-item:hover {
    color: #404bbf;
}

.header-link-item:focus {
    color: #404bbf
}

.social-link-item:hover,
.social-link-item:focus {
    color: #404bbf
}

}

@media screen and (min-width: 1158px) {
 .header-logo {
    margin-right: 76px;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.social-link-item {
    padding: 24px 0 24px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
}

}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  #e7e9fc;
    border:  1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover {
    border: none;
}

.mobile-menu-close:focus {
    border: none;
}

.mobile-menu-btn-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover {
    fill: #ffffff;
}

.mobile-menu-close:focus {
    fill: #ffffff;
}


.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
}

.mobile-menu-nav-text:hover,
.mobile-menu-nav-text:focus,
.mobile-menu-nav-text.current {
    color:#404bbf;
}

.mobile-menu-address-text:hover,
.mobile-menu-address-text:focus,
.mobile-menu-address-text.current {
    color: #4d5ae5;
}

.mobile-menu-address-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-address-text {
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
}

.mobile-menu-social-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-menu-list-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-link-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link-item:hover {
    background-color: #404bbf;
}

.mobile-menu-link-item:focus {
    background-color: #404bbf;
}

.mobile-menu-svg-item {
    fill: #f4f4fd
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* hero */

.main-section {
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    padding: 72px 0 72px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    image-set(
        url('../images/hero/hero-mobile-min.jpg') 1x,
        url('../images/hero/hero-mobile@2x-min.jpg') 2x
    );
    margin: 0 auto;
}

.page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0px auto 72px auto;
    width: 216px;
    max-width: 216px;
}

.first-button {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0px auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        color: #ffffff;
}

.first-button:hover {
    background-color: #404bbf;
}

.first-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .main-section {
        max-width: 768px;
    padding: 112px 0 112px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
     image-set(
        url('../images/hero/hero-tab-min.jpg') 1x,
        url('../images/hero/hero-tab@2x-min.jpg') 2x
    );
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0px auto 36px auto;
    width: 496px;
    max-width: 496px;
}
}

@media screen and (min-width: 1158px) {
.main-section {
    max-width: 1440px;
    padding: 188px 0 188px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    image-set(
        url('../images/hero/hero-desc-min.jpg') 1x,
        url('../images/hero/hero-desc@2x-min.jpg') 2x
    );
}

.page-title {
    margin: 0px auto 48px auto;
}
}

/* advantages */

.advantages {
    padding: 96px 0 96px;
}

.advanteges-container {
    display: flex;
    flex-wrap: wrap;
    width: 288px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-svg-item {
    display: none;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.advanteges-list-item {
    width: 100%;
}

.advantages-list-container {
    display: none;
}

.list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.second-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .advanteges-list-item {
    width: calc((100% - 24px) / 2);
}

.list-title {
    text-align: left;
}

.second-title-text {
    max-width: 356px;
}

.advantages-list-container {
    display: none;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}


}

@media screen and (min-width: 1158px) {


    .advanteges-list-item {
    width: calc((100% - 72px) / 4);
}

.advantages-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    height: 112px;
    margin-bottom: 8px;
}




.advantages-svg-item {
    display: flex;
    text-align: center;
    margin: 0 auto;
    height: 112px;
    justify-content: center;
}


.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
}

.second-title-text {
    font-weight: 400;
    font-size: 16px;
}
}

/* team */

.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-container {
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #f4f4fd;
    margin-bottom: 72px;
}

.team-info-container {
    padding: 32px 0;
}

.team-list:hover {
    cursor: pointer;
    color: #f4f4fd
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-list-item {
    width: 40px;
    height: 40px;
}

.team-social-link-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-item:hover {
    background-color: #404bbf;
}

.team-social-link-item:focus {
    background-color: #404bbf;
}

.team-svg-item {
    fill: #f4f4fd
}

.team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.team-title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }
    
    .team-list-item {
    width: calc((100% - 72px) / 4);
}
}

/* portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-container {
}


.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
}

.portfolio-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    cursor: pointer;
}

.portfolio-list-item:hover .portfolio-text-hidden-item {
    transform: translateY(0%);
    cursor: pointer;
}


.portfolio-list-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-text-hidden-item {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-title-item {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-text-item {
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-info-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;

    }

    .portfolio-list-item:hover {
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

    .portfolio-list-item:focus {
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;

}


.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-logo-container {
    text-align: center;
}

.footer-social-container {
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        align-items: center;
        margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 72px;
}

.footer-social-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
    margin-bottom: 72px;
}

.footer-social-link-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:hover {
    background-color: #31d0aa;
}

.footer-social-link-item:focus {
    background-color: #31d0aa;
}

.footer-svg-item {
    fill: #f4f4fd
}

.accent {
    color:#f4f4fd 
}

.footer-subscribe-container {
}

.footer-subscribe-text {
        margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.footer-label {
}

.footer-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px;
    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.footer-input:hover {
    border-color: #31d0aa;
}

.footer-input:focus {
    border-color: #31d0aa;
}

.footer-input::placeholder {
    color: #ffffff;
} 

.footer-form-button {
    min-width: 165px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover {
    background-color: #31d0aa;
}

.footer-form-button:focus {
    background-color: #31d0aa;
}

.footer-form-svg {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer-container {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 108px;
    padding-right: 108px;
}
    .footer-logo-container {
    text-align: left;
}

    
    .footer-text {
    width: 264px; 
    margin-bottom: 0;  
    }

    .footer-social-container {
        column-gap: 72px;

    }

    .footer-social-text {
        text-align: left;
    }

.footer-subscribe-container {
    margin-left: 0;
}

.footer-subscribe-text {
    text-align: left;
}

    .footer-form {
        display: flex;
        column-gap: 24px;
    }
    
    .footer-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
    padding-top: 100px;
    padding-bottom: 100px;

}

    .footer-container {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-subscribe-container {
    margin-left: auto;

}
}


/* modal */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);

    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #FFF;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 480px;
    max-height: 80%;
    overflow-y: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 288px;
    min-height: 584px;
    border-radius: 4px;

    transform: translate(-50%, -50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, 50%) scale(1.5);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right:24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e7e9fc;
    border:  1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    border: none;
}

.modal-close-btn:focus {
    border: none;
}

.modal-close-btn-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    fill: #ffffff;
}

.modal-close-btn:focus {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
}

.modal-form-container {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #8e8f99;

    display: block;

    margin-bottom: 4px;
}

.modal-form-label-container {
    position: relative;
}

.modal-label-input-text {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 

    background-color: transparent;

    padding-left: 38px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-label-input-text:focus {
    border-color: #4d5ae5;
}

.modal-form-text-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input-text:focus + .modal-form-text-svg {
    fill: #4D5AE5;
}

.modal-form-comment-container {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;

    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
} 

.modal-form-checkbox-container {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.modal-form-checkbox-input {

}

.modal-form-checkbox-input:checked + .modal-form-label-privacy > .modal-span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.modal-form-label-link {
    color: #4D5AE5;
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.modal-form-label-privacy {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #8e8f99;

}

.modal-span-privacy {
    color: #4d5ae5;

    width: 16px;
    height: 16px;
    
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    fill: transparent;

    margin-right: 8px;
}

.modal-chechbox-svg {
    flex-shrink: 9;
}

.modal-form-button {
    display: block;
    margin: 0 auto;

    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #ffffff;
    cursor: pointer;

    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
}
}
